:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: var(--blue);
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 200px;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: var(--page-background);
}

.description {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--page-background);
}
